.footer-bg {
  background-color: darken($white, 5%);

  .footer {
    .footer__headline {
      @include Montserrat-SemiBold;
      font-size: $base - 3;
      text-transform: uppercase;
    }
    .footer__link {
      @include Montserrat-Light;
      font-size: $base - 2;
      color: $darkgray;
      &:hover {
        text-decoration: none;
        border-bottom: 1px solid $primary-color;
      }
    }
    .smaller {
      font-size: $base - 2;
    }
    .social-media-box {
      background-color: $primary-color;
      a {
        svg {
          font-size: $base + 20;
        }
      }
    }
  }
}
