.hero {
  position: relative;
  margin-top: -60px;
  z-index: 0;
  background-image: url("/assets/images/hero.jpg");
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 600px;
  .hero__btn {
    @include Montserrat-Regular;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: $base;
    position: absolute;
    top: 450px;
    right: 500px;
    border-radius: 0px;
    &:hover {
      background-color: $primary-color-hover;
    }
  }
}
