.lookbook {
  .col {
    background: #f8f8f8;
    height: auto;
  }
  .lookbook__h3 {
    color: darken($text, 3%);
    text-transform: uppercase;
    font-size: $base + 32;

    @include Montserrat-Bold;
  }
  .lookbook__h4 {
    color: darken($text, 3%);
    @include Montserrat-Thin;
    text-transform: uppercase;
    font-size: $base + 32;
  }
  .lookbook__btn {
    @include Montserrat-Regular;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: $base;
    &:hover {
      background-color: $primary-color-hover;
      color: $white;
    }
  }
  .lookbook__text {
    font-size: $base - 1;
    @include Montserrat-Regular;
  }
}
