.nav {
  .nav-link {
    @include Montserrat-SemiBold;
    font-size: $base - 3;
    color: $text;
    &.active,
    &:hover {
      @include Montserrat-SemiBold;
      font-size: $base - 3;
      color: $primary-color-hover;
    }
  }
}
